.benefits {
  position: relative;
  background: var(--primary-color);
  overflow: hidden;

  &__inner {
    margin: 0 auto;
    padding: 100px 0;
  }

  // top

  &__top {
    position: relative;
    height: 700px;
    overflow: hidden;
  }

  &__text {
    max-width: 492px;
  }

  &__heading {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    color: #ffffff;
  }

  &__subheading {
    font-family: "Montserrat";
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #ffffff;
  }

  &__img {
    position: absolute;
    right: 50%;
    top: 0;
    transform: translate(100%, -15%);
  }

  &__thunder {
    position: absolute;
    left: 0;
    bottom: -14%;
  }

  // bottom

  &__bottom {
    position: relative;
    height: 750px;
    .benefits__inner {
      padding: 0;
      z-index: 1;
      position: relative;
    }

    &-bg {
      pointer-events: none;
      position: absolute;
      bottom: 0;
      left: 0%;
      width: 100%;
      z-index: 0;
    }
  }

  &__title {
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    color: #ffffff;
    margin-bottom: 40px;
  }

  &__items {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 20px;
    z-index: 2;
  }

  &__item {
    &-heading {
      display: flex;
      align-items: center;

      font-size: 24px;
      line-height: 48px;
      color: #ffffff;
    }

    &-text {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 22px;

      color: #ffffff;
    }
  }

  &__number {
    display: block;
    margin-right: 10px;
    font-size: 30px;
    line-height: 48px;
    color: #35d4c0;
  }

  &__column {
    position: absolute;
    bottom: -10px;

    &_1 {
        left: 0;
        transform: translateX(-35%);
    }

    &_2 {
        transform: translateX(35%);
        right: 0;
    }
  }
}

@include media('<=w-desktop') {
  .benefits {
    &__bottom {
      .benefits {
        &__inner {
          padding-left: 120px;
          padding-right: 120px;
        }
      }
    }

    &__items {
      display: grid;
      grid-template-columns: 50% 50%;
    }
  }
}

@include media('<=m-desktop') {
  .benefits {
    &__top {
      .section-gradient {
        z-index: 2;
      }
    }

    &__column {
      z-index: 3;
    }

    &__heading {
      margin-bottom: 20px;
    }

    &__subheading {
      font-size: 14px;
      line-height: 17px;
    }

    &__text {
      text-align: center;
      margin: 0 auto;
    }

    &__img {
      right: unset;
      left: 50%;
      transform: translate(-50%, 38%);
      top: unset;
      bottom: 0;
      width: 450px;
      z-index: 2;
    }

    &__thunder {
      -webkit-transform: scaleY(-1);
      transform: scaleY(-1);
    }
  }
}

@include media('<=desktop') {
  .benefits {
    &__bottom {
      height: fit-content;
      .benefits {
        &__inner {
          padding-left: 50px;
          padding-right: 50px;
          padding-bottom: 70px;
        }
      }
    }

    &__text {
      padding-left: 45px;
      padding-right: 45px;
    }

    &__heading {
      font-size: 24px;
      line-height: 1;
    }

    &__items {
      grid-template-columns: 100%;
    }

    &__column {
      display: none;
    }
  }
}

@include media("<=tablet") {
  .benefits {
    &__title {
      font-size: 24px;
      line-height: 1;
    }

    &__img {
      width: 400px;
    }

    &__number {
      font-size: 20px;
    }

    &__item {
      &-heading {
        font-size: 16px;
      }

      &-text {
        font-size: 12px;
      }
    }
  }
}