.enlist {
  position: relative;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 120px 0;
  }

  &__info {
    max-width: 614px;
  }

  &__title {
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #ffffff;
  }

  &__text {
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

    &_white {
      margin-bottom: 30px;
      color: #ffffff;
    }

    &_orange {
      margin-bottom: 44px;
      color: rgba(255, 168, 0, 1);
    }
  }

  &__apply {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;

    &-mobile {
      display: none;
    }
  }

  &__label {
    font-size: 30px;
    line-height: 48px;
    color: #ffffff;
  }

  &__btn {
    min-width: 230px;
    margin-left: 50px;
    z-index: 2;
  }

  &__horse {
    position: absolute;
    right: 0%;
    top: 0;
    transform: translateY(-23%);
    z-index: 2;
  }

  &__cloud {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  &__ticks {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;

    &_mobile {
      display: none;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
    line-height: 48px;
    color: #ffffff;

    &_2 {
      justify-content: center;
    }

    &_4 {
      grid-column: 1/4;
      justify-content: center;
    }

    &_6 {
      justify-content: center;
    }

    span {
      margin-left: 14px;
      white-space: nowrap;
    }
  }

  &__thunder {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: scaleX(-1) translateY(-80%);
    transform: scaleX(-1) translateY(-80%);
  }
}

@include media("<=w-desktop") {
  .enlist {
    &__inner {
      flex-direction: column;
      padding: 60px 0;
    }

    &__info {
      margin: 0 auto;
      text-align: center;
    }

    &__images {
      text-align: center;
    }

    &__horse {
      position: static;
      transform: none;
      height: 500px;
      z-index: 4;
      position: relative;
    }

    &__apply {
      &-desktop {
        display: none;
      }

      &-mobile {
        display: block;
        text-align: center;
      }
    }

    &__btn {
      margin: 0;
      margin-top: 10px;
    }

    &__thunder {
      transform: scaleX(-1) translateY(-38%);
    }
  }
}

@include media("<=tablet") {
  .enlist {
    &__info-text {
      padding: 0 53px;
    }

    &__text {
      font-size: 12px;
    }

    &__title {
      font-size: 24px;
    }

    &__cloud {
      transform: translate(0, -130%);
      height: 180px;
    }

    &__horse {
      width: 500px;
      max-width: 100%;
      height: unset;
    }

    &__ticks {
      &_desktop {
        display: none;
      }

      &_mobile {
        max-width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
      }
    }

    &__item {
      font-size: 16px;
      line-height: 1;
      white-space: unset;

      &:nth-child(2n + 1) {
        justify-self: end;
      }

      &:nth-child(2n) {
        justify-self: start;
      }

      &-tick {
        width: 18px;
        height: 18px;
      }

      &-arrow {
        width: 84px;
        transform: translateY(50%);
      }

      span {
        white-space: unset;
      }
    }
  }
}
