.hero {
    width: 100%;
    height: 800px;
    background: url('../images/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;

    &__inner {
        margin: 0 auto;
        padding-top: 215px;

        display: flex;
        align-items: center;
        justify-content: space-between;        
    }

    &__text {
        font-weight: 900;

        text-transform: uppercase;

        color: #FFFFFF;
        font-family: "Panton Heavy";

        text-shadow: 1px 2px 0px #FFAC00;
    }

    &__heading {
        font-size: 80px;
        line-height: 72px;
    }

    &__hashtag {
        font-size: 56px;
        line-height: 71px;

        margin: 25px 0 44px;
        padding: 0 20px;
    }

    &__btn {
        min-width: 230px;
    }

    &__img {
        position: absolute;
        top: 0;
        right: 0%;
        pointer-events: none;
    }
}

@include media('<=m-desktop') {
    .hero {
        &__info {
            width: 100%;
            text-align: center;
        }

        &__heading {
            font-size: 40px;
            line-height: 36px;
        }

        &__hashtag {
            font-size: 30px;
            line-height: 38px;
        }

        &__img {
            width: 380px;
            top: unset;
            left: 50%;
            right: unset;
            bottom: 0;
            transform: translate(-40%, 24%);
        }

        &__btn {
            z-index: 3;
            position: absolute;
            left: 50%;
            bottom: 50px;
            transform: translateX(-50%);
        }

        &__inner {
            padding-top: 140px;
        }
    }
}

@include media('<=phone-hor') {
    .hero {
        &__img {
            width: 350px;
            transform: translate(-47%, 24%);
        }
    }
}