.media {
    background: var(--secondary-color);
    padding: 60px;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin: 0 auto;
        font-size: 30px;
        line-height: 48px;
        color: #FFFFFF;
    }

    &__btn {
        min-width: 230px;
    }
}

@include media('<=m-desktop') {
    .media {
        &__inner {
            font-size: 20px;
            line-height: 24px;
        }
    }
}

@include media('<=desktop') {
    .media {
        padding: 34px;
        
        &__inner {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &__btn {
            margin-top: 30px;
        }
    }
}