:root {
    --primary-color: rgb(45, 46, 66);
    --secondary-color: rgb(38, 174, 157);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: "Panton Heavy";
    background: var(--primary-color);
}