// Panton Heavy
@font-face {
  font-family: "Panton Heavy";
  src: url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.eot"); /* IE9*/
  src: url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.woff2") format("woff2"),
    /* chrome、firefox */ url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.woff")
      format("woff"),
    /* chrome、firefox */ url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.ttf")
      format("truetype"),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url("../fonts/PantonHeavy/f607f8b58b6d9a2a1931ce9c1d255c25.svg#Panton W01 Heavy") format("svg"); /* iOS 4.1- */
}